---
name: Validate Pull Request

on:
  push:
    branches:
      - trunk
  pull_request:
    branches:
      - trunk

jobs:
  build_validate_release:
    name: Build and Validate and Publish Release
    runs-on: windows-latest
    strategy:
      matrix:
        build_id:
          - 'b5955822'
          - 'b6090575'
          - 'b6092917'
          - 'b6095311'
          - 'b6099916'
          - 'b6106200'
          - 'b6107340'
          - 'b6119267'
          - 'b6125838'
          - 'b6126060'
          - 'b6130912'
          - 'b6140152'
          - 'b6140759'
          - 'b6147447'
          - 'b6147802'
          - 'b6148509'
          - 'b6154340'
          - 'b6159737'
          - 'b6163195'
          - 'b6166710'
          - 'b6172107'
          - 'b6172650'
          - 'b6184915'
          - 'b6191387'
          - 'b6197011'
          - 'b6203678'
          - 'b6203978'
          - 'b6208133'
          - 'b6215212'
          - 'b6221619'
          - 'b6228162'
          - 'b6235798'
          - 'b6238241'
          - 'b6239221'
          - 'b6255344'
          - 'b6261631'
          - 'b6273023'
          - 'b6278360'
          - 'b6289949'
          - 'b6290534'
          - 'b6295655'
          - 'b6296250'
          - 'b6301137'
          - 'b6305195'
          - 'b6306027'
          - 'b6307970'
          - 'b6318523'
          - 'b6325153'
          - 'b6326492'
          - 'b6325644'
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - run: pip install meson ninja
      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.6.0
      - run: ./.github/scripts/win/ss/build-dll.ps1 -bid "${{ matrix.build_id }}"
        env:
          CC: cl.exe
          CXX: cl.exe